:root {
  --cdp-example-page-bg-color: #eaeaea;
  --cdp-example-bg-overlay-color: rgba(0, 0, 0, 0.25);
  --cdp-example-bg-skeleton-color: rgba(0, 0, 0, 0.1);
  --cdp-example-text-color: #111111;
  --cdp-example-text-secondary-color: #757575;
  --cdp-example-accent-color: #008080;
  --cdp-example-accent-hover-color: #016969;
  --cdp-example-accent-foreground-color: #ffffff;
  --cdp-example-bg-low-contrast-color: #eeeeee;
  --cdp-example-card-bg-color: #ffffff;
  --cdp-example-card-border-color: #dcdcdc;
  --cdp-example-card-max-width: 30rem;
  --cdp-example-base-font-size: 16px;
  --cdp-example-font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: var(--cdp-example-page-bg-color);
  color: var(--cdp-example-card-border-color);
  color-scheme: light dark;
  font-family: var(--cdp-example-font-family);
  font-size: var(--cdp-example-base-font-size);
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cdp-example-page-bg-color: #0a0b0d;
    --cdp-example-bg-overlay-color: rgba(0, 0, 0, 0.25);
    --cdp-example-bg-skeleton-color: rgba(255, 255, 255, 0.1);
    --cdp-example-text-color: #fafafa;
    --cdp-example-text-secondary-color: #8a919e;
    --cdp-example-accent-color: #00adad;
    --cdp-example-accent-hover-color: #04c0c0;
    --cdp-example-accent-foreground-color: #0a0b0d;
    --cdp-example-bg-low-contrast-color: #32353d;
    --cdp-example-card-bg-color: #141519;
    --cdp-example-card-border-color: #24262a;
  }
}

::selection {
  background-color: color(from var(--cdp-example-accent-color) srgb r g b / 0.3);
}

html,
html * {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
}

body,
.root,
.root > div,
.flex-col-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.flex-row-container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1;
}

.sr-only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.root {
  flex-grow: 1;
  margin: 0;
  padding: 0rem;
  width: 100%;
}

.root > div {
  flex-grow: 1;
}

p {
  margin: 0;
}

a {
  color: var(--cdp-example-accent-color);
}

a:hover {
  color: var(--cdp-example-accent-hover-color);
}

hr {
  border: 0 solid var(--cdp-example-card-border-color);
  border-bottom-width: 1px;
  margin: 1rem 0;
}

.app {
  height: 100%;
  color: var(--cdp-example-text-color);
  margin: 0 auto;
  width: 100%;
}

header {
  color: var(--cdp-example-text-color);
  background-color: var(--cdp-example-card-bg-color);
  border-bottom: 1px solid var(--cdp-example-card-border-color);
  padding: 0.5rem 1rem;
  width: 100%;
}

header .wallet-address {
  margin-right: 1rem;
}

.header-inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 75rem;
  text-align: center;
  height: 3rem;
}

.user-info {
  justify-content: space-between;
  width: 100%;
}

.user-icon {
  flex-grow: 0;
  flex-shrink: 0;
  height: 1.25rem;
  margin-right: 0.25rem;
  width: auto;
}

.wallet-address {
  font-family: monospace;
  font-size: 0.875rem;
  word-break: break-all;
}

.main {
  padding: 0.5rem;
  width: 100%;
}

.main-inner {
  gap: 1rem;
  width: 100%;
}

.main-inner > .card {
  width: 100%;
}

.site-title {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 0.5rem;
}

.site-title br {
  display: none;
}

.card {
  align-items: center;
  background-color: var(--cdp-example-card-bg-color);
  border: 1px solid var(--cdp-example-card-border-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  max-width: var(--cdp-example-card-max-width);
  padding: 2rem 1rem;
  text-align: center;
  width: 100%;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

.loading--balance {
  border-radius: 9999em;
  display: inline-block;
  height: 2.25rem;
  width: 7rem;
}

.loading--text {
  height: 1rem;
  border-radius: 9999em;
  margin: 0.25rem 0;
  width: 20rem;
}

.loading--btn {
  border-radius: 9999em;
  height: 3.5rem;
  width: 9.375rem;
}

.user-balance {
  font-size: 1.5rem;
  font-weight: 400;
}

.user-balance .flex-row-container {
  justify-content: center;
}

.balance-icon {
  flex-grow: 0;
  flex-shrink: 0;
  height: 1.5rem;
  margin-right: 0.5rem;
  width: auto;
}

.copy-address-button {
  background-color: transparent;
  border: 0;
  color: var(--cdp-example-text-color);
  cursor: pointer;
  padding: 0;
}

.copy-address-button:hover .user-icon--user,
.copy-address-button .user-icon--copy {
  display: none;
}

.copy-address-button .user-icon--user,
.copy-address-button:hover .user-icon--copy {
  display: inline;
}

.tx-button {
  padding-left: 2rem;
  padding-right: 2rem;
  min-width: 11.75rem;
}

@media (min-width: 540px) {
  .header-inner {
    flex-direction: row;
    text-align: left;
  }

  .user-info {
    width: auto;
  }

  .site-title {
    margin-bottom: 0;
  }

  .site-title br {
    display: inline;
  }

  .main {
    padding: 1rem;
  }
}

@media (min-width: 860px) {
  :root {
    --cdp-example-card-max-width: 35rem;
  }

  .main-inner {
    align-items: stretch;
    flex-direction: row;
  }
}

@media (min-width: 1920px) {
  :root {
    --cdp-base-font-size: 20px;
  }
}
